html, body, * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img {
    margin: 0 auto;
    display: block;
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}
.card {
    border-radius: 20px;
    margin: 0 auto;
    border: 2px solid black;
    width: 23%;
    margin-bottom: 40px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5), 0 6px 20px rgba(0, 0, 0, 0.5);
}